<div class="container-fluid footer px-5">
  <div class="row">
    <div class="col-lg-5 col-12">
      <h3>ACCUMSAN MONTES VIVERRA</h3>
      <p>
        Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio
        porttitor sem non mi integer non faucibus ornare mi ut ante amet
        placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
        varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum
        ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
        iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed
        amet praesent. Nunc lacinia ante nunc ac gravida.
      </p>
    </div>
    <div class="col-lg-4 col-sm-6 col-12">
      <h4>SEM TURPIS AMET SEMPER</h4>
      <ul class="aciklama">
        <li><a href="#">Dolor pulvinar sed etiam.</a></li>
        <li><a href="#">Etiam vel lorem sed amet.</a></li>
        <li><a href="#">Felis enim feugiat viverra.</a></li>
        <li><a href="#">Dolor pulvinar magna etiam.</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      <h4>MAGNA SED IPSUM</h4>
      <ul class="sosyalmedya">
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>
        </li>
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i>Twitter</a>
        </li>
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i>Instagram</a>
        </li>
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i>Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <span class="d-block text-center"
    >© Untitled. Photos Unsplash, Video Coverr.</span
  >
</div>
