<section class="bolum1 container">
  <h2>SEM TURPIS AMET SEMPER</h2>
  <p>
    In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet.
    Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus
    amet porttitor.
  </p>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="kart">
        <img src="../../assets/images/pic20.jpg" alt="" />
        <h3>FEUGIAT CONSEQUAT</h3>
        <p>
          Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
          odio porttitor sem non mi integer non faucibus.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="kart">
        <img src="../../assets/images/pic21.jpg" alt="" />
        <h3>FEUGIAT CONSEQUAT</h3>
        <p>
          Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
          odio porttitor sem non mi integer non faucibus.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="kart">
        <img src="../../assets/images/pic22.jpg" alt="" />
        <h3>FEUGIAT CONSEQUAT</h3>
        <p>
          Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
          odio porttitor sem non mi integer non faucibus.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="kart">
        <img src="../../assets/images/pic21.jpg" alt="" />
        <h3>FEUGIAT CONSEQUAT</h3>
        <p>
          Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
          odio porttitor sem non mi integer non faucibus.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="kart">
        <img src="../../assets/images/pic22.jpg" alt="" />
        <h3>FEUGIAT CONSEQUAT</h3>
        <p>
          Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
          odio porttitor sem non mi integer non faucibus.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="kart">
        <img src="../../assets/images/pic20.jpg" alt="" />
        <h3>FEUGIAT CONSEQUAT</h3>
        <p>
          Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida
          odio porttitor sem non mi integer non faucibus.
        </p>
      </div>
    </div>
  </div>
</section>
