.parallax {
  margin-top: 50px;
  padding: 100px 0;
  background: linear-gradient(rgba(225, 13, 13, 0.25), rgba(209, 14, 14, 0.25)),
    url("../../assets/images/cta01.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.parallax h2 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 30px;
}
.parallax p {
  color: #ededed;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 20px;
}
