<section class="container-fluid twice">
  <div class="row">
    <div class="col-md-6">
      <h3>PELLENTESQUE ADIPIS</h3>
      <img src="../../assets/images/pic01.jpg" />
      <p>
        Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper
        vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum
        feugiat tempus.
      </p>
    </div>
    <div class="col-md-6">
      <h3>MORBI INTERDUM MOL</h3>
      <img src="../../assets/images/pic02.jpg" alt="Daktilo" />
      <p>
        Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper
        vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum
        feugiat tempus.
      </p>
    </div>
  </div>
</section>
